.aboutUs {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    height: calc(100vh - var(--header-heightMobile));
}

.aboutUsHeader {
    min-height: 52px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 400;
    text-align: right;
    font-style: italic;
    display: inline-flex;
}

.aboutUsHeaderTitle {
    font-size: 28px;
    color: white;
    font-weight: 400;
    text-align: right;
    font-style: italic;
    margin: auto 22px auto auto;
}

.aboutUsContent {
    padding: 22px 30px;
    flex: 1;
}

.aboutUsBodyContentParagraph {
    font-size: 15px;
    font-weight: bold;
}

.aboutUsContentText {
    font-size: 15px;
    font-weight: bold;
}

.aboutUsContentTextBold {
    font-size: 25px;
    text-align: right;
}

.aboutUsImageContainer {
    overflow: hidden;
    max-height: 354px;
}

.aboutUsImage {
    display: none;
}

.aboutUsImageM {
    display: block;
    width: 100%;
}
@media screen and (min-width: 2500px) {
    .aboutUsHeader {
        min-height: 178px;
    }
    .aboutUsBody {
        width: 100%;
    }

    .aboutUsBodyContent {
        max-width: 50%;
        width: 50%;
        padding: 163px 157px 0;
    }

    .aboutUsBodyContent > .aboutUsBodyContentText, .aboutUsBodyContentTextBold {

        max-width: 942px;
    }

    .aboutUsHeaderTitle {
        font-size: 100px;
    }

    .aboutUsBodyContentText {
        font-size: 40px;
        font-weight: 800;
    }

    .aboutUsBodyContentTextBold {
        font-size: 70px;
    }

    .aboutUsBodyImageContainer {

    }

    .aboutUsBodyImage {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
        
    }
}