.aboutUs {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.aboutUsHeader {
    height: 178px;
    min-height: 178px;
    width: 100%;
    display: flex;
    background-color: var(--green-hex);
}

.aboutUsHeaderTitle {
    font-size: 90px;
    font-weight: 300;
    font-style: italic;
    margin: auto 30px auto auto;
    color: white;
}

.aboutUsBody {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.aboutUsBodyContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 150px 60px 0;
    height: 100%;
}

.aboutUsBodyContentText {
    font-size: 28px;
    font-weight: bold;

}

.aboutUsBodyContentTextBold {
    font-size: 70px;
    margin-top: 40px;
    width: 100%;
    text-align: right;
}

.aboutUsBodyImageContainer {
    flex: 1;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.aboutUsBodyImage {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
}

@media screen and (min-width: 2500px) {
    .aboutUsHeader {
        min-height: 178px;
    }
    .aboutUsBody {
        width: 100%;
    }

    .aboutUsBodyContent {
        max-width: 50%;
        width: 50%;
        border: solid 5px;
        padding: 163px 157px 0;
    }

    .aboutUsBodyContent > .aboutUsBodyContentText, .aboutUsBodyContentTextBold {

        max-width: 942px;
    }

    .aboutUsHeaderTitle {
        font-size: 100px;
    }

    .aboutUsBodyContentText {
        font-size: 40px;
        font-weight: 800;
    }

    .aboutUsBodyContentTextBold {
        font-size: 70px;
    }

    .aboutUsBodyImageContainer {

    }

    .aboutUsBodyImage {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
        
    }
}