.mainHeader {
  height: var(--header-heightMobile);
  display: flex;
  width: 100%;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 555;
}

.logoContainer {
  margin: auto;
}

.mainNav {
  display: none;
}

@media screen and (min-width: 650px) {
    
  .mainHeader {
    height: var(--header-heightTablet);
  }

  .logoContainer {
    display: flex;
    flex-direction: column;
  }

  .logoTitle {
    margin: 0;
    font-size: 50px;
    text-transform: uppercase;
  }

  .logoUnderline {
    width: 100%;
    border: none;
    border-top: 3px solid;
    height: 0;
    margin: 20px 0 24px;
  }

  .mainNav {
    display: none;
  }

  .navLink {
    font-size: 32px;
    text-decoration: none;
    color: black;
  }
}

@media screen and (min-width: 2500px) {
  .mainHeader {
      height: 235px;
  }
}
