.uncovering {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.contentContainer {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
}

.uncoveringContentTextContainer {
    max-height: 70%;
    display: inline-flex;
    margin-top: 44px;
    padding: 0 12px;
}

.uncoveringContentText {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 35px;
    
}

.uncoveringBackgroundImage {
    height: 100%;
    width: 100%;
}

.uncoveringContentContainer {
    width: 1243px;
    height: 485px;
    margin-top: 30px;
    display: flex;
    position: absolute;
    top: 0;
    flex-direction: column;
    background-color: var(--green-hex);
    filter: opacity(0.75);
    border-radius: 25px;
}

.uncoveringContentHeader {
    height: 145px;
    width: 100%;
    display: flex;
    background-color: #ffffff80;
    border-radius: 25px;
}

.uncoveringContentHeaderTitle {
    margin: auto;
    font-style: italic;
    font-size: 65px;
    font-weight: 500;
}

.uncoveringContentHeaderTitleBold {
    font-size: 90px;
}