.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100dvh - var(--header-heightMobile));
    background-size: contain;
}

.hero {
    width: 100%;
    height: 250px;
    min-height: 250px;
}

.cards {
    margin: 0;
    width: 100%;
    display: grid;
    min-height: 267px;
    grid-template-columns: 1fr 1fr;
    column-gap: 27px;
    row-gap: 60px;
    background-color: var(--primary-color);
    max-width: 100%;
    /* padding: 18px 50px 0;
    position: absolute;
    bottom: 0px;
    left: 50%; */
    /* transform: translateX(-50%); */
}

.card {
    display: flex;
    text-align: center;
    flex-direction: column;
    max-height: 267px;
    position: relative;
    margin: auto;
}

.cardImage {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: absolute;
    top: -35px;
    right: 50%;
    transform: translateX(50%);
}

.cardTitle {
    margin: 35px auto auto;
    font-size: 16px;
    color: white;
    font-weight: 100;
    width: 160px;
}

.footer {
    height: 100%;
    display: flex;
    width: 100%;

}

.footerText {
    margin: auto;
    font-size: 28px;
    text-align: center;
}

@media screen and (min-width: 650px) {
    .landing {
        height: calc(100vh - var(--header-heightTablet));
    }

    .hero {
        min-height: 42.5%;
        object-fit: cover;
    }

    .cards {
        min-height: 42.5%;
        grid-template-columns: 1fr 1fr;
        column-gap: 0px;
        row-gap: 90px;
        padding: 0 60px;
    }

    .card {
        max-height: 267px;
        width: 100%;
    }

    .cardImage {
        height: 140px;
        width: 140px;
        border-radius: 50%;
        position: absolute;
        top: -115px;
    }

    .cardTitle {
        font-size: 25px;
        width: 250px;
    }
    
}

@media screen and (min-width: 2500px) {
    .landing {
        height: calc(100vh - 235px);
    }

    .hero {
        min-height: 800px;
        max-height: 1000px;
    }

    .cards {
        bottom: 0px;
        height: 155px;
        min-width: 1775px;
        background-color: unset;
    }
    
    .card {
        height: 155px;
    }

    .cardImage {
        margin: 0;
        position: absolute;
        height: 135px;
        width: 135px;
    }

    .cardTitle {
        margin: auto auto auto;
    }

}