.contactUs {
    height: 100vh;
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.contactUsHeader {
    min-height: 75px;
    max-height: 75px;
    background-color: black;
    text-align: center;
    display: flex;
}

.contactUsHeaderTitle {
    font-size: 28px;
    color: white;
    margin: auto;
}

.contactUsImageContainer {
    flex: 1;
}

.contactUsImage {
    display: none;
}

.contactUsImageM {
    display: block;
    width: 100%;
    height: 100%;
}

.contactUsFormContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: white;
    width: 328px;
    height: 495px;
    padding: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.contactUsForm {
    display: flex;
    flex-direction: column;
}

.contactUsFormTitle {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    margin: 0 auto 13px;
} 

.contactUsFormNameContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 56px;
}

.contactUsFormLabelContainer {
    width: 100px;
    display: flex;
    flex-direction: column;
}

.contactUsFormInput {
    border: none;
    border-bottom: solid 1px black;
    margin-bottom: 13px;
    font-size: 12px;
}

.contactUsFormLabel {
    font-size: 12px;
}

.previousSellerLabel {
    margin-top: 24px;
}

.contactUsFormPreviousSellerContainer {
    display: grid;
    width: 200px;
    max-width: 200px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 70px;
    margin-bottom: 25px;
}

.contactUsFormPreviousSellerInput {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.contactUsFormPreviousSellerLabelSquare {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #000;
    cursor: pointer;
}

.contactUsFormPreviousSellerInput:checked + .contactUsFormPreviousSellerLabelSquare {
    background-color: #858585;
    border: solid 1px black;
}

.contactUsFormMessage {
    border: none;
    border-radius: 0;
    width: 276px;
    height: 138px;
    margin-top: 25px;
    margin-bottom: 22px;
    border: solid 1px black;

}

.contactUsFormButton {
    border: none;
    margin-left: auto;
    width: 70px;
    height: 28px;
    color: white;
    background-color: black;
    font-size: 14px;

}

.contactUsFormButton:active {
    background-color: #858585;
}

.contactUsRibbon {
    width: 0;
    height: 0;
    border-left: 164px solid transparent;
    border-right: 164px solid transparent;
    border-top: 70px solid #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(99.5%);
}

@media screen and (min-width: 2500px) {
    .contactUsHeader {
        height: 194px;
    }

    .contactUsHeaderTitle {
        font-size: 100px;
    }

    .contactUsBodyImageContainer {
        height: 100%;
    }

    .contactUsBodyImage {
        width: 100%;
        min-height: 100%;
    }

    .contactUsBodyFormContainer {
        height: 1100px;
        width: 980px;
    }

    .contactUsBodyRibbon {
        border-left: 491px solid transparent;
        border-right: 491px solid transparent;
        bottom: -99px;
    }
    .contactUsBodyFormTitle {
        font-size: 50px;
    }

    .contactUsBodyFormLabelContainer {
    }

    .contactUsBodyFormLabel {
        font-size: 30px;
    }

    .contactUsBodyFormInput {
        font-size: 30px;
    }

    .previousSellerLabel {
        font-size: 30px;
    }

    .contactUsBodyFormPreviousSellerLabelSquare {
        width: 38px;
        height: 42px;
    }

    .contactUsBodyFormPreviousSellerLabel {
        font-size: 25px;
    }

    .contactUsBodyFormMessage {
        height: 280px;
        border: solid 2px black;
    }

    .contactUsBodyFormButton {
        height: 70px;
        width: 180px;
        font-size: 35px;
    }
}