.contactUs {
    height: 100vh;
    height: calc(100dvh - var(--header-heightMobile));
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.contactUsHeader {
    min-height: 75px;
    max-height: 75px;
    background-color: black;
    text-align: center;
    display: flex;
}

.contactUsHeaderTitle {
    font-size: 28px;
    color: white;
    margin: auto;
}

.contactUsImageContainer {
    flex: 1;
}

.contactUsImage {
    display: none;
}

.contactUsImageM {
    display: block;
    width: 100%;
    height: 100%;
}

.contactUsFormContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: white;
    width: 328px;
    height: 495px;
    padding: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.contactUsForm {
    display: flex;
    flex-direction: column;
}

.contactUsFormTitle {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    margin: 0 auto 13px;
} 

.contactUsFormNameContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 56px;
}

.contactUsFormLabelContainer {
    width: 100px;
    display: flex;
    flex-direction: column;
}

.contactUsFormInput {
    border: none;
    border-bottom: solid 1px black;
    margin-bottom: 13px;
    font-size: 12px;
}

.contactUsFormLabel {
    font-size: 12px;
}

.previousSellerLabel {
    margin-top: 24px;
}

.contactUsFormPreviousSellerContainer {
    display: grid;
    width: 200px;
    max-width: 200px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 70px;
    margin-bottom: 25px;
}

.contactUsFormPreviousSellerInput {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.contactUsFormPreviousSellerLabelSquare {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #000;
    cursor: pointer;
}

.contactUsFormPreviousSellerInput:checked + .contactUsFormPreviousSellerLabelSquare {
    background-color: #858585;
    border: solid 1px black;
}

.contactUsFormMessage {
    border: none;
    border-radius: 0;
    width: 276px;
    height: 138px;
    margin-top: 25px;
    margin-bottom: 22px;
    border: solid 1px black;

}

.contactUsFormButton {
    border: none;
    margin-left: auto;
    width: 70px;
    height: 28px;
    color: white;
    background-color: black;
    font-size: 14px;

}

.contactUsFormButton:active {
    background-color: #858585;
}

.contactUsRibbon {
    width: 0;
    height: 0;
    border-left: 164px solid transparent;
    border-right: 164px solid transparent;
    border-top: 70px solid #ffffff;
    position: absolute;
    bottom: 1px;
    left: 0;
    transform: translateY(99.5%);
}

@media screen and (min-width: 600px) {

    .contactUs {
        height: calc(100dvh - var(--header-heightTablet));
    }

    .contactUsHeader {
        min-height: 120px;
        max-height: unset;
    }

    .contactUsHeaderTitle {
        font-size: 65px;
    }

    .contactUsImageM {
        display: none;
    }

    .contactUsImage {
        display: block;
        width: 100%;
        height: 100%;
    }

    .contactUsFormContainer {
        width: 500px;
        height: 620px;
        top: 120px;
        left: 50%;
        transform: translateX(-50%);
    }

    .contactUsFormTitle {
        font-size: 24px;
    }

    .contactUsFormNameContainer {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
    }

    .contactUsFormLabelContainer {
        width: 100%;
    }

    .contactUsFormInput, .contactUsFormLabel {
        font-size: 14px;
    }

    .contactUsFormLabel {
        margin-bottom: 20px;
    }

    .previousSellerLabel {
        margin-top: 0;
    }

    .previousSellerLabelBreak {
        display: none;
    }

    .contactUsFormPreviousSellerContainer {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        margin-bottom: 20px;
    }

    .contactUsFormMessage {
        margin-top: 0;
        height: 200px;
        width: 100%;
    }

    .contactUsFormButton {
        width: 140px;
        height: 50px;
        font-size: 30px;
    }

    .contactUsRibbon {
        border-left: 250px solid transparent;
        border-right: 250px solid transparent;
        border-top: 100px solid #ffffff;
    }
}